<nav class="navbar navbar-inverse header">
    <div class="navbar-header">
        <a class="navbar-brand" href="">PeerTest</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="">welcome {{Peer.currentUser.name}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="Peer.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
</nav>

<div class="row content">
    <div class="col-md-3">
        <ul class="userlist">
            <li class="heading">
                Online Users
            </li>
            <li class="user item" ng-repeat="user in Peer.userList">
                <div class="name"><span ng-bind="user.name"></span></div>
                <div class="call" ng-hide="Peer.currentCall.incomming" ng-click="Peer.call(user)">
                    <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
                <div class="call red" ng-show="Peer.currentCall.incomming" ng-click="Peer.cut()">
                    <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </li>
            <li class="user item" ng-show="Peer.userList.length == 0">
                No User Available online.
            </li>
        </ul>
        <div class="localstream" video-src="{{Peer.localStream}}">
            
        </div>
    </div>
    <div class="col-md-9 remotestreams">
        <div class="col-md-12 remotestream" ng-repeat="stream in Peer.remoteStreams">
           <div class="videocontainer" video-src="{{stream.url}}">
           </div>
           <div class="round red cutbutton" data-ng-click="Peer.cutCall()">
                <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a>
           </div>
        </div>
    </div>
</div>

<div id="callmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{Peer.getCaleeName()}} calling...</h4>
      </div>
      <div class="modal-body">
        <p>{{Peer.currentCall.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-if="Peer.currentCall.incomming" ng-click="Peer.attendCall()" class="btn btn-default" data-dismiss="modal">Pick</button>
        <button type="button" ng-click="Peer.closeCallPopup()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>